services:
  mira:
    image: mira
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    volumes:
      - .:/workspace
    user: "${_UID}:${_GID}"
    network_mode: host
    devices:
      - /dev/camera_bottom
#      - /dev/camera_front 
    working_dir: /workspace
    entrypoint: /bin/bash

  mira-builder:
    image: mira
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    volumes:
      - .:/workspace
    user: "${_UID}:${_GID}"
    network_mode: "host"
    command: >
      bash -c "make repoversion &&
      make clean &&
      source /opt/ros/jazzy/setup.bash &&
      source .venv/bin/activate &&
      colcon build $${COLCON_ARGS}"
